<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.makaryo.ululmusthofa">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_iconsp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.makaryo.ululmusthofa.Yutub.YoutubeActivity"></activity>
        <activity android:name="com.makaryo.ululmusthofa.admin.AdminLagu.ListLagu.tampilan.Main2Activity" />
        <activity android:name="com.makaryo.ululmusthofa.admin.AdminLagu.ListLagu.EditListLagu" />
        <activity android:name="com.makaryo.ululmusthofa.admin.AdminLagu.ListLagu.ListLagu" />
        <activity android:name="com.makaryo.ululmusthofa.admin.AdminLagu.UploadLagu" />
        <activity android:name="com.makaryo.ululmusthofa.admin.FirebaseGallery.ImagesActivity" />
        <activity android:name="com.makaryo.ululmusthofa.admin.AdmGallery" />
        <activity android:name="com.makaryo.ululmusthofa.admin.Admin" />
        <activity android:name="com.makaryo.ululmusthofa.admin.Login.Login" />
        <activity
            android:name="com.makaryo.ululmusthofa.SplashScreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.makaryo.ululmusthofa.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>